section{
    height: 400px;
}
footer{
    background-color: black;
    color: white;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 2.4fr 2.4fr 2.4fr 2.4fr 2.4fr;
}
.footer-brand-title{
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
.icon span{
    margin-right: 10px;
}
.footer-title{
    margin-bottom: 10px;
}
.footer-title~span{
    display: block;
    margin-top: 15px;
}
.address span{
    display: block;
    margin-top: 15px;
}